/*!
 * Pico: Customs styles for Docs
 */
/* Cyan Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #00acc1;
  --primary-hover: #0097a7;
  --primary-focus: rgba(0, 172, 193, 0.125);
  --primary-inverse: #FFF;
}

/* Cyan Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary-hover: #00bcd4;
    --primary-focus: rgba(0, 172, 193, 0.25);
    --primary-inverse: #FFF;
  }
}

/* Cyan Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #00acc1;
  --primary-hover: #00bcd4;
  --primary-focus: rgba(0, 172, 193, 0.25);
  --primary-inverse: #FFF;
}

/* Cyan (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

:root {
	--primary: #00acc1;
    --icon-external: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(115, 130, 140)' opacity='0.66' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6'%3E%3C/path%3E%3Cpolyline points='15 3 21 3 21 9'%3E%3C/polyline%3E%3Cline x1='10' y1='14' x2='21' y2='3'%3E%3C/line%3E%3C/svg%3E");
    --icon-check: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255)' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
    --icon-check-dark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(0, 0, 0, 0.75)' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E")
}
:root {
  --spacing-company: 3rem;
  --font-weight: 200;
  --border-radius: 0;
}

:root:not([data-theme=dark]),[data-theme=light] {
    --invalid-color: #c62828;
    --valid-color: #388e3c;
    --nav-background-color: rgba(255, 255, 255, 0.7);
    --nav-border-color: rgba(115, 130, 140, 0.2);
    --nav-logo-color: #fff;
    --article-code-background-color: #f9fafb
}

@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme=light]) {
        --invalid-color:rgba(183, 28, 28, 0.5);
        --valid-color: rgba(46, 125, 50, 0.5);
        --nav-background-color: rgba(16, 24, 30, 0.8);
        --nav-border-color: rgba(115, 130, 140, 0.2);
        --nav-logo-color: #0e1419;
        --article-code-background-color: var(--code-background-color)
    }
}

[data-theme=dark] {
    --invalid-color: rgba(183, 28, 28, 0.5);
    --valid-color: rgba(46, 125, 50, 0.5);
    --nav-background-color: rgba(16, 24, 30, 0.8);
    --nav-border-color: rgba(115, 130, 140, 0.2);
    --nav-logo-color: #0e1419;
    --article-code-background-color: var(--code-background-color)
}

html {
    scroll-behavior: smooth
}

body>main {
    padding-top: calc(var(--block-spacing-vertical) + 1.0rem)
}


@media (min-width: 1200px) {
    body>main {
        --block-spacing-horizontal:calc(var(--spacing) * 2)
    }
}

a.secondary {
    --text-decoration: none;
}



svg {
    height: 1rem
}



#grid {
    --grid-spacing-vertical: 1rem
}

#grid button {
    display: block;
    width: 100%;
    margin-bottom: var(--spacing)
}

@media (min-width: 576px) {
    #grid button {
        display:inline-block;
        width: auto;
        margin-right: .5rem
    }
}

#grid button svg {
    stroke: var(--secondary);
    margin-right: .5rem;
    border: 2px solid currentColor;
    border-radius: 1rem;
    background: currentColor
}

#grid .grid>* {
    padding: calc(var(--spacing)/ 2) 0;
    border-radius: var(--border-radius);
    background: var(--code-background-color);
    font-size: 87.5%;
    text-align: center
}

#grid details {
    margin-top: calc(var(--typography-spacing-vertical) * 0.5)
}

#grid details svg {
    vertical-align: bottom
}

#buttons a[role=button] {
    margin-right: calc(var(--spacing) * .5)
}

#forms div.grid {
    grid-row-gap: 0
}

#modal button {
    --font-weight: bold
}

h1 {
    margin-top: -.25em
}


article>footer.code {
    background: var(--article-code-background-color)
}

article {
	margin-top:0;
}

#searchArea label{
    font-weight: 250;
}

#searchArea button{
    font-weight: 350;
}

article>figure{
    margin-bottom: calc(var(--typography-spacing-vertical)*0.5)
}



article table td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom:0;
    font-size: 18px;
    font-weight: 250;
}



article>footer {
	margin-top:0;
    padding: calc(var(--block-spacing-vertical) * 0.36) calc(var(--block-spacing-horizontal)*0.36);
    margin-right: calc(var(--block-spacing-horizontal) * -0.7);
    margin-left: calc(var(--block-spacing-horizontal) * -0.7);
}

article {
    padding:calc(var(--block-spacing-vertical)*0.6) calc(var(--block-spacing-horizontal)*0.7);
}

article .page {
	margin-top:0;
    clear: both;
	float: right;
}
article pre,article pre code {
	margin-top:0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    background: 0 0
}

section>pre {
    margin: var(--block-spacing-vertical) 0;
    padding: calc(var(--block-spacing-vertical)/ 1.5) var(--block-spacing-horizontal);
    background: var(--article-code-background-color);
    box-shadow: var(--card-box-shadow)
}


@media (min-width: 1200px){
    .container {
        max-width: 1600px;
    }
}


dialog.example {
    display: block;
    z-index: inherit;
    position: relative;
    top: inherit;
    right: inherit;
    bottom: inherit;
    left: inherit;
    align-items: inherit;
    justify-content: inherit;
    width: inherit;
    min-width: inherit;
    height: inherit;
    min-height: inherit;
    padding: 0;
    background-color: inherit
}

dialog.example article {
    max-width: inherit
}

dialog.example:not([open]),dialog.example[open=false] {
    display: none
}

.dialog-is-open body>button {
    filter: blur(.125rem)
}

body>nav {
    --nav-link-spacing-vertical: 1rem;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    z-index: 99;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    backdrop-filter: saturate(180%) blur(20px);
    background-color: var(--nav-background-color);
    box-shadow: 0 1px 0 var(--nav-border-color)
}

body>nav.container-fluid {
    padding-right: calc(var(--spacing) + var(--scrollbar-width,0px))
}

body>nav a {
    border-radius: 0
}

body>nav svg {
    vertical-align: text-bottom
}

body>nav ul:first-of-type {
    margin-left: calc(var(--spacing) * -1)
}

body>nav ul:first-of-type li {
    padding: 0
}

body>nav ul:first-of-type li:first-of-type a {
    display: block;
    margin: 0;
    padding: 0;
    background: var(--h1-color);
    color: var(--nav-logo-color)
}

body>nav ul:first-of-type li:first-of-type a svg {
    display: block;
    width: 3.5rem;
    height: 3.5rem
}

body>nav ul:first-of-type li:nth-of-type(2) {
    display: none;
    margin-left: calc(var(--spacing) * 1.5);
    color: var(--h1-color)
}

@media (min-width: 992px) {
    body>nav ul:first-of-type li:nth-of-type(2) {
        display:inline
    }
}

.switcher {
    position: fixed;
    right: calc(var(--spacing)/ 2 + var(--scrollbar-width,0px));
    bottom: var(--spacing);
    width: auto;
    margin-bottom: 0;
    padding: .75rem;
    border-radius: 2rem;
    box-shadow: var(--card-box-shadow);
    line-height: 1;
    text-align: right
}

.switcher::after {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: .15rem solid currentColor;
    border-radius: 50%;
    background: linear-gradient(to right,currentColor 0,currentColor 50%,transparent 50%);
    content: "";
    vertical-align: bottom;
    transition: transform var(--transition)
}

.switcher i {
    display: inline-block;
    max-width: 0;
    padding: 0;
    overflow: hidden;
    font-style: normal;
    font-size: .875rem;
    white-space: nowrap
}

.switcher:focus,.switcher:hover {
    max-width: 100%;
    transition: background-color var(--transition),border-color var(--transition),color var(--transition),box-shadow var(--transition)
}

.switcher:hover::after {
    transform: rotate(180deg)
}

.switcher:hover i {
    max-width: 100%;
    padding: 0 calc(var(--spacing)/ 2) 0 calc(var(--spacing)/ 4);
    transition: max-width var(--transition),padding var(--transition)
}

.switcher:focus {
    box-shadow: var(--card-box-shadow),0 0 0 .2rem var(--secondary-focus)
}

@media (min-width: 576px) {
    .switcher {
        right:calc(var(--spacing) + var(--scrollbar-width,0px))
    }
}

/*# sourceMappingURL=pico.docs.min.css.map */
